.container {
  border: solid 3px;
  width: 520px;
  height: 260px;
  margin: 0 auto;
}
video {
  height: 100%;
}

img {
  width: 1.5em;
}

button {
  background: none;
  border: none;
}
.controls-banner {
  /*Make hidden on default and visable on container video hover*/
  background-color: rgba(224, 16, 16, 0.377); /*change later!*/
  height: 60px;
  padding: 5px 10px 0 10px;
  position: relative;
  top: -70px;
  z-index: 5;
}

.progress {
  width: 80%;
}

span {
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 14px;
}

.time {
  color: white;
}

.volume-progress {
  width: 100px;
}

#play {
  margin-right: 80px;
}

.play {
  height: 3em;
  width: 3em;
  padding-bottom: 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
}
