.container {
  width: 520px;
  height: 260px;
  margin: 0 auto;
  font-family: sans-serif;
}
video {
  height: 100%;
}

img {
  width: 1.5em;
}

button {
  background: none;
  border: none;
}
.controls-banner {
  /* display: none;*/
  background-color: rgba(170, 170, 170, 0.388); /*change later!*/
  height: 60px;
  padding: 5px 10px 0 10px;
  position: relative;
  top: -70px;
  z-index: 5;
}

.progress {
  width: 80%;
}

span {
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 14px;
}

.time {
  color: white;
}

.volume-progress {
  width: 100px;
}

#play {
  margin-right: 80px;
}

.play {
  height: 3em;
  width: 3em;
  padding-bottom: 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2em;
}

/*video:hover + .controls-banner {
  display: block;
}*/

/* STYLING FOR RANGE IMPUT BARS */

input[type="range"] {
  height: 8px;
  -webkit-appearance: none;
  width: 80%;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 80%;
  height: 10px;
  cursor: pointer;
  background: cornsilk;
  border-radius: 2px;
}
input[type="range"]::-webkit-slider-thumb {
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: palevioletred;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: cornsilk;
}
input[type="range"]::-moz-range-track {
  width: 80%;
  height: 10px;
  cursor: pointer;
  background: cornsilk;
  border-radius: 2px;
}
input[type="range"]::-moz-range-thumb {
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: palevioletred;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 80%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: cornsilk;
  border-radius: 2px;
}
input[type="range"]::-ms-fill-upper {
  background: cornsilk;
  border-radius: 2px;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: palevioletred;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: cornsilk;
}
input[type="range"]:focus::-ms-fill-upper {
  background: cornsilk;
}
